absl-py==0.6.1
astor==0.7.1
audioread==2.1.6
bandmat==0.7
cycler==0.10.0
Cython==0.29
decorator==4.3.0
docopt==0.6.2
fastdtw==0.3.2
gast==0.2.0
grpcio==1.16.0
h5py==2.8.0
inflect==1.0.1
joblib==0.12.5
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
librosa==0.6.2
llvmlite==0.25.0
lws==1.2
Markdown==3.0.1
matplotlib==3.0.1
nltk==3.3
nnmnkwii==0.0.16
numba==0.40.1
numpy==1.15.3
Pillow==5.3.0
protobuf==3.6.1
pyparsing==2.2.2
pysptk==0.1.12
python-dateutil==2.7.5
resampy==0.2.1
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
sklearn==0.0
tensorboard==1.11.0
tensorboardX==1.4
tensorflow==1.11.0
termcolor==1.1.0
torch==0.4.1
torchvision==0.2.1
tqdm==4.28.1
Unidecode==1.0.22
Werkzeug==0.14.1
